<nav th:fragment="navbar" class="navbar" id="nav">
      <a href="/home" id="logo">
        <img th:src="@{/images/royalpalace-logo.jpg}" alt="Royal Palace Logo" />
      </a>

      <div id="app">
        <a href="#booking" id="bookingLink">
          <i class="fa-solid fa-magnifying-glass"></i>
          Booking
        </a>
        <a href="#footer" id="bookingLink"> Contact Us </a>

        <div th:if="${client != null}" class="dropdown" id="dropdownLogin">
			<i class="bi bi-person-circle"></i>
          <a
            class="dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            th:text="${username}"
          >
             
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item" th:href="@{'/orderRoom/checkOrder'}">Check Order</a></li>
            <li><a class="dropdown-item" th:href="@{'/client/logout'}">Logout</a></li>
            
            <li th:if="${client.role == 'admin'}"><a class="dropdown-item" th:href="@{/admin/admin-dashboard}">Admin dashboard</a></li>
          </ul>
        </div>
        <div th:if="${client == null}" class="dropdown" id="dropdownLogin">
			<i class="bi bi-person-circle"></i>
          <a
            class="dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"      
          >
            Login 
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" th:href="@{'/client/loginform'}">Login</a></li>
            <li><a class="dropdown-item" th:href="@{'/client/signupform'}">Signup</a></li>
          </ul>
        </div>

        <!-- Facebook -->
        <a
          class="btn text-white btn-floating"
          href="https://www.facebook.com"
          target="_blank"
          role="button"
        >
          <i class="bi bi-facebook h4" style="color: #b68602"></i>
        </a>

        <!-- Instagram -->
        <a
          class="btn text-white btn-floating"
          href="https://www.instagram.com"
          target="_blank"
          role="button"
        >
          <i class="bi bi-instagram h4" style="color: #b68602"></i>
        </a>
      </div>
    </nav>