<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="icon" th:href="@{/images/royalpalace-logo.jpg}" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/admin/update-form.css}">
  </head>
  <body>
    <div class="container mb-5" id="container">
        <form th:object="${room}" th:action="@{'/admin/update'}" enctype="multipart/form-data" method="post" class="row g-3 shadow" id="form">
            <input type="hidden" th:value="${room.id}" th:field="*{id}">
            <h4 style="text-align: center; text-decoration: underline;">Room</h4>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label"
                >Room Type</label
                >
                <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Room Type"
                th:value="${room.name}"
                th:field="*{name}"
                required
                />
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label"
                >Infomation</label
                >
                <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Like City view , Lake view"
                th:value="${room.information}"
                th:field="*{information}"
                required
                />
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label"
                >Price</label
                >
                <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Price"
                th:value="${room.price}"
                th:field="*{price}"
                required
                />
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label"
                >Room Size</label
                >
                <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Room Size eg.36.6"
                th:value="${room.roomSize}"
                th:field="*{roomSize}"
                required
                />
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label"
                >Bed Type</label
                >
                <select id="inputState" class="form-select" th:field="*{bedType}">
                    <option value="Twin" th:if="${room.bedType == 'Twin'}" selected>Twin</option>
                    <option value="Twin" th:if="${room.bedType != 'Twin'}" >Twin</option>
                    <option value="Two Single" th:if="${room.bedType == 'Two Single'}" selected>Single</option>
                    <option value="Two Single" th:if="${room.bedType != 'Two Single'}" >Single</option>
                </select>
            </div>
            <hr>
            <h4 style="text-align: center; text-decoration: underline; margin-top: -5px;">Amenities</h4>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                >General</label
                >
                <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                th:text="${room.amenities.general}"
                name="general"
                required
                ></textarea>
            </div>
            <input type="hidden" th:value="${room.amenities.id}" name="id">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                >Bathroom</label
                >
                <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                th:text="${room.amenities.bathRoom}"
                name="bathRoom"
                required
                ></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                >Other</label
                >
                <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                th:text="${room.amenities.other}"
                name="other"
                required
                ></textarea>
            </div>

            <hr>
            <h4 style="text-align: center; text-decoration: underline; margin-top: -5px;">Image</h4>
            <div class="mb-3 col-6">
                <label class="form-label">Select Image File</label>
                <input id="imagefile" name="imagefile" type="file" class="form-control">
                 <input id="imagefile" th:value="${room.image}" th:field="*{image}" type="hidden" class="form-control">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary float-end mb-2" id="submitbtn">Update</button>
              </div>
        </form>

    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
